/* Variables */
:root {
    /* Main Center Box Constants */
    --center-box-max-height: 500;
    --center-box-max-width: 800;
    --center-box-padding: 40;
    --center-box-padding-medium: 30;
    
    /* Navbar and document left/right/bottom padding */
    --uniform-padding: 50;
    --navbar-total-height: calc(var(--uniform-padding) * 2 + 40);

    /* Homepage constants */
    --me-img-pct-height: 37.5%;
    --name-text-pct-font-size: 17.1429%;
    --social-pct-height: 6.25%;

    /* Education page constants */
    --extracurriculars-grid-pct-height: 47.5%;

    /* Experience page constants */
    --experiences-grid-pct-height: 85%;
    
    /* Info box constants */
    --large-rectangular-box-pct-height: 25%;
    --small-rectangular-box-pct-height: 12.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow-x: hidden;
}

.title-text {
    font-size: 24px;
    font-weight: 900;
}

.subtitle-text {
    font-size: 18px;
    font-weight: 900;
}

.copyright {
    margin-top: 50px;
    padding-bottom: 29px;
}

.copyright-text {
    font-weight: 900;
    font-size: 14px;
    width: 100%;
    text-align: center;
    margin: 0;
}

/* Large Box Styles */

.large-box {
    width: 100%;
    max-width: 481px;
    border-radius: 5px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    padding: 20px;
    display: flex;
}

.large-box-img {
    height: 100%;
    margin-right: 20px;
}

.large-box-img img {
    height: 60px;
}

.large-box-text {
    display: flex;
    flex-direction: column;
}

.large-box-text > * {
    margin: 0;
}

.large-box-text .title {
    font-weight: 700;
    font-size: 18px;
}

.large-box-text .subtitle {
    font-weight: 500;
    font-size: 14px;
}

.large-box-text .extra-info {
    font-weight: 400;
    font-size: 12px;
    margin-top: auto;
}

/* End Large Box Styles */

/* Large Box Responsive Styles */
@media (max-width: 640px) {
    .large-box .title {
        font-size: 16px
    }

    .large-box .subtitle {
        font-size: 12px;
    }

    .large-box .extra-info {
        font-size: 10px;
    }
}

@media (max-width: 600px) {
    .large-box .extra-info {
        margin-top: 9px;
    }
}

@media (max-width: 500px) {
    .large-box {
        flex-direction: column;
        align-items: center;
    }

    .large-box-img {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .large-box-text {
        text-align: center;
    }
}

/* End Large Box Responsive Styles */

/* Small Box Styles */
.small-box {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 10px;
    display: flex;
}

.small-box:hover {
    transform: scale(1.05);
}

.small-box {
    cursor: pointer;
    transition: all 0.1s linear;
}

.small-box-img {
    height: 30px;
}

.small-box-img img {
    height: 100%;
    margin-right: 10px;
}

.small-box-text {
    display: flex;
    flex-direction: column;
}

.small-box-text > * {
    margin: 0;
}

.small-box-text .title {
    font-weight: 500;
    font-size: 14px;
}

.small-box-text .subtitle {
    font-weight: 400;
    font-size: 10px;
    margin-top: auto;
}

/* End Small Box Styles */

/* Navbar Styles */
.navbar {
    padding: calc(var(--uniform-padding) * 1px);
    padding-bottom: 0;
    background: white;
    border-radius: 5px;
}

.navbar-brand {
    font-weight: 900;
    font-size: 24px;
}

.navbar.expanded {
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
}

.navbar-nav .nav-item .nav-link {
    color: #4A4A4A !important;
    font-weight: bold;
    transition: all 0.2s linear;
}

.navbar-nav .nav-item .nav-link.active,
.navbar-nav .nav-item .nav-link:hover {
    color: #C0C0C0 !important;
}

.navbar-collapse {
    transition: all 0.1s linear;
}

.navbar-collapse.expanded {
    padding-bottom: calc((var(--uniform-padding) / 2) * 1px);
}

/* End Navbar Styles */

/* Navbar Responsive Styles */
@media (max-width: 991px) {
    .navbar-nav {
        text-align: center;
    }
}

/* End Navbar Responsive Styles */

/* Center Page Box Slider Styles */
.slider-container {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* End Center Page Box Slider Styles */

/* Center Page Box Styles */
.center-page-box {
    width: calc(100% - (2 * var(--uniform-padding) * 1px));
    max-width: calc(var(--center-box-max-width) * 1px);
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: auto;
    margin-top: 75px;
}

.center-page-box {
    padding: calc(var(--center-box-padding) * 1px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center-page-box > .title-text {
    margin-bottom: 50px;
    margin-top: 0;
}

.center-page-box > * {
    position: relative;
}

/* End Center Page Box Styles */

/* Home Page Center Page Box Specific Styles */
#about {
    margin-top: 200px;
}

#about .me-img-container {
    height: var(--me-img-pct-height);
    text-align: center;
}

#about .me-img {
    border-radius: 100%;
    height: 100%;
    max-height: 240px;
    width: auto;
}

#about .name {
    margin-bottom: 3px;
    margin-top: 10px;
}

#about .gender {
    font-size: 14px;
}

#about .description {
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    max-width: 75%;
}

#about .social-media {
    display: flex;
    margin: auto 0;
}

#about .social-media .social-icon {
    margin: 0 7.5px;
    height: 25px;
    display: block;
}

#about .social-media .social-icon:hover img {
    transform: scale(1.1);
}

#about .social-media .social-icon img {
    height: 100%;
    transition: all 0.1s linear;
}

#about .contact-me-button {
    background: rgba(74, 130, 246, 1);
    border-radius: 500px;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 26px;
    margin-top: 20px;
    transition: all 0.2s linear;
}

#about .contact-me-button:hover {
    background: rgba(74, 130, 246, 0.8);
}

/* End Home Page Center Page Box Specific Styles */

/* Home Page Center Page Box Specific Responsive Styles */
@media (max-width: 878px) {
    #about .description {
        max-width: 85%;
    }
}

@media (max-width: 814px) {
    #about .contact-me-button {
        margin-top: 25px;
    }

    #about .me-img {
        height: 158px;
    }
}

/* End Home Page Center Page Box Specific Responsive Styles */

/* Education Page Center Page Box Specific Styles */
#education .large-box {
    margin-bottom: 20px;
}

#education .large-box:hover {
    transform: scale(1.05);
}

#education .large-box {
    cursor: pointer;
    transition: all 0.1s linear;
}

#education .subtitle-text {
    margin-bottom: 20px;
}

#education .extracurricular-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 481px;
    height: var(--extracurriculars-grid-pct-height);
}

#education .extracurricular-grid > * {
    width: 46%;
    margin-bottom: 20px;
}

/* End Education Page Center Page Box Specific Styles */

/* Education Page Center Page Box Specific Responsive Styles */
@media (max-width: 814px) {
    #education .extracurricular-grid > * {
        margin-bottom: 20px;
    }
}

@media (max-width: 620px) {
    #education .extracurricular-grid > * {
        width: 100%;
    }
}

/* End Education Page Center Page Box Specific Responsive Styles */

/* Experience/Press Page Center Page Box Specific Styles */
#experience .experiences-grid,
#press .press-grid {
    display: flex;
    flex-direction: column;
    height: var(--experiences-grid-pct-height);
    width: 100%;
    align-items: center;
}

#experience .experiences-grid .large-box,
#press .press-grid .large-box {
    margin-bottom: 20px;
}

#experience .experiences-grid .large-box:hover {
    transform: scale(1.05);
}

#experience .experiences-grid .large-box {
    cursor: pointer;
    transition: all 0.1s linear;
}

#experience, #press {
    max-height: calc(100% - (var(--navbar-total-height) * 1px) - (var(--uniform-padding) * 2px));
    overflow-y: auto;
}

#press .press-grid .large-box {
    cursor: pointer;
    transition: all 0.1s linear;
}

#press .press-grid .large-box:hover {
    transform: scale(1.05);
}

#press .large-box .title {
    font-size: 14px;
}

#press .large-box a {
    color: inherit;
}

#press .large-box .subtitle {
    font-size: 12px;
}

#press .large-box .extra-info {
    font-size: 14px;
}

/* End Experience/Press Page Center Page Box Specific Styles */

/* Experience/Press Page Center Page Box Specific Responsive Styles */
@media (max-width: 814px) {
    #experience .experiences-grid > *,
    #press .press-grid > * {
        margin-bottom: 20px;
    }
}

/* End Experience/Press Page Center Page Box Specific Responsive Styles */

/* Portfolio Page Center Page Box Specific Styles */
#portfolio .portfolio-grid {
    max-width: 481px;
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
}

#portfolio .portfolio-item {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 100px;
    height: 125px;
    padding: 20px 9px 0 9px;
    display: flex;
    flex-direction: column;
    margin: 0 8px 24px 8px;
    align-items: center;
    cursor: pointer;
    transition: all 0.1s linear;
}

#portfolio .portfolio-item:hover {
    transform: scale(1.1);
}

#portfolio .portfolio-item img {
    width: 60px;
}

#portfolio .portfolio-item h3 {
    font-weight: 500;
    font-size: 14px;
    margin: auto;
    text-align: center;
}

/* End Portfolio Page Center Page Box Specific Styles */

/* Portfolio Page Center Page Box Specific Responsive Styles */
@media (max-width: 639px) {
    #portfolio .portfolio-grid {
        justify-content: space-around;
    }
}

/* End Portfolio Page Center Page Box Specific Responsive Styles */